.home-content{  
    padding: 2rem 0;
    min-height: 300px;
    .dropdown-label{
        font-size: 14px;
    }
    .dropdown{
        margin-bottom: 1.6rem;
        cursor: pointer;
        .btn{
            background: transparent;
            border-radius: 0;
            border: 0;
            padding: 0.375rem 0;
            margin-left: 11px;
            font-size: 14px;
            border-bottom: 1px solid $black-d;
        }
    }
    .box-wrapper{
        background-color: $primary;
        border-radius: 2px;
        border-radius: 10px;
        padding: 14px;
        margin-bottom: 2rem;
        min-height: 24rem;
        img{
            height: 8rem;
            display: block;
            margin: auto auto 1.6rem;
        }
        .information{
            color: $white-a;
            font-size: 13px;
        }
    }
}