//primary and secondary color override into bootstrap color variables 

$primary:            #7acbc8 !important;
$border:             #e1e7ec;

$white:             #FFFFFF;
$white-a:           darken($white, 3%);
$white-b:           darken($white, 6%);
$white-c:           darken($white, 12%);
$white-d:           darken($white, 24%);

$black:             rgba(#000000, 1);
$black-a:           lighten($black, 10%);
$black-b:           lighten($black, 20%);
$black-c:           lighten($black, 40%);
$black-d:           lighten($black, 60%);

$light-blue:      #bbced2;



