<main class="home-content">

  <div class="container">

    <div class="text-right">
      <label class="dropdown-label">Sort By:</label>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>Short By:</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" value="name" (click)="sortByField($event)" style="cursor: pointer;">Name</button>
          <button class="dropdown-item" value="position" (click)="sortByField($event)" style="cursor: pointer;">Position</button>
          <button class="dropdown-item" value="age" (click)="sortByField($event)" style="cursor: pointer;">Age</button>          
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3" *ngFor="let user of usersList | sortBy:sortField:sortType">
        <div class="box-wrapper">
          <img src="assets/img/user.png">
          <div class="row information">
            <label class="col-4">Name</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.name}}</label>
            <label class="col-4">Position</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.position}}</label>
            <label class="col-4">Office</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.office}}</label>
            <label class="col-4">Age</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.age}}</label>
            <label class="col-4">Date</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.date}}</label>
            <label class="col-4">Salary</label>
            <span class="col-1">:</span>
            <label class="col-6">{{user.salary}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>